.pay-password{
  background: white;
  padding-bottom: 20px;
  .btn{
    width: 100px;
    margin: 10px 10px 20px 10px;
  }
  .content{
    display: flex;
    display: -webkit-flex; /* OLD - iOS 6-, Safari 3.1-6  NEW - Chrome*/
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 20px;
    width: 90%;
    border: 1px solid #bbb;

    input{
      border-width: 0px;
      border-radius: 0px;
      border-right: 1px solid #d9d9d9;
      height: 44px;
      width: 16%;
      text-align: center;
      outline: none;
      font-size: 30px;
      &:last-child {   //设置第一个子孩子独特属性
        border-right: 0px solid #d9d9d9;
      }
    }

    input:disabled{
      outline: none;
      background: transparent;
    }
  }
}
